<div class="header-body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <p></p>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <div class="input-group">
                                <input type="text" class="form-control" id="search-box">
                                <div class="input-group-append">
                                    <a class="input-group-text btn btn-default" role="button" href="#"> TÌM KIẾM &ensp;
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <div class="search-links">
                                <p>Links: &ensp;
                                    <a href="/search"> Tìm kiếm nâng cao </a> &ensp;
                                    <a href="#"> Sitemap </a> &ensp;
                                </p>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="carousel-body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="carousel-ele">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="public/img/news-bg1.jpg" class="d-block w-100" alt="news 1">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Sinh viên, giảng viên vui đọc sách</h5>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="public/img/news-bg2.jpg" class="d-block w-100" alt="news 2">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Chương trình tập huấn: Sử dụng tài nguyên giáo dục mở</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="public/img/news-bg3.JPG" class="d-block w-100" alt="news 3">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Hội thảo khoa học: Tối ưu hóa quản trị tri thức thư viện</h5>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="schedule">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5><i class="fa fa-calendar" aria-hidden="true"></i> &ensp; Lịch làm việc </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-2 d-flex justify-content-center">
                <p style="text-decoration: underline; color: #3f72af"><b>Thứ 2:</b> 24hrs</p>
            </div>
            <div class="col-2 d-flex justify-content-center">
                <p><b>Thứ 3:</b> 24hrs</p>
            </div>
            <div class="col-2 d-flex justify-content-center">
                <p><b>Thứ 4:</b> 24hrs</p>
            </div>
            <div class="col-2 d-flex justify-content-center">
                <p><b>Thứ 5:</b> 24hrs</p>
            </div>
            <div class="col-2 d-flex justify-content-center">
                <p><b>Thứ 6:</b> 24hrs</p>
            </div>
            <div class="col-2 d-flex justify-content-center">
                <p><b>Thứ 7:</b> 24hrs</p>
            </div>
        </div>
    </div>
</div>

<div class="news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>TIN TỨC</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a id="news-ele" href="#">
                    <image class="img-fluid" src="public/img/news1.png"></image>
                    <h5>Thư viện mở cửa trở lại</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </a>
            </div>
            <div class="col-4">
                <a id="news-ele" href="#">
                    <image class="img-fluid" src="public/img/news2.png"></image>
                    <h5>Sách mới về, chào đón năm học mới</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
            <div class="col-4">
                <a id="news-ele" href="#">
                    <image class="img-fluid" src="public/img/news3.png"></image>
                    <h5>Sinh viên, giảng viên vui đọc sách</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-10"></div>
            <div class="col-2 text-right">
                <a href="#">Xem thêm</a>
            </div>
        </div>
    </div>
</div>

<div class="new-books">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>SÁCH MỚI</h1>
            </div>
        </div>
        <div class="row">
            {{!-- <div class="col-4">
                <a id="news-ele" href="pages/BookDetail.html">
                    <image class="img-fluid" src="public/img/news1.png"></image>
                    <h5>Thư viện mở cửa trở lại</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </a>
            </div>
            <div class="col-4">
                <a id="news-ele" href="pages/BookDetail.html">
                    <image class="img-fluid" src="public/img/news2.png"></image>
                    <h5>Sách mới về, chào đón năm học mới</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
            <div class="col-4">
                <a id="news-ele" href="pages/BookDetail.html">
                    <image class="img-fluid" src="public/img/news3.png"></image>
                    <h5>Sinh viên, giảng viên vui đọc sách</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </a>
            </div> --}}
            <div id="carouselBooks" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {{#each books}}
                    {{#if @first}}
                    <div class="carousel-item active">
                        {{else}}
                        <div class="carousel-item">
                            {{/if}}
                            <div class="col-12">
                                <a id="news-ele" href="/BookDetail/{{id}}">
                                    <image class="img-fluid" src="public/img/Book.jpeg" style="width: 210px; height: 263px;"></image>
                                    <h5>{{ title }}</h5>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <a class="carousel-control-prev" href="#carouselBooks" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselBooks" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-10"></div>
                <div class="col-2 text-right">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>

    <div class="book-topics">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>CHỦ ĐỀ</h1>
                </div>
            </div>
            <div class="row">
                <div id="carouselCategories" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {{#each categories}}
                    {{#if @first}}
                    <div class="carousel-item active">
                        {{else}}
                        <div class="carousel-item">
                            {{/if}}
                            <div class="col-12">
                                <a id="news-ele" href="pages/BookDetail.html">
                                    <image class="img-fluid" src="{{image}}" style="width: 210px; height:263px"></image>
                                    <h5>{{ name }}</h5>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <a class="carousel-control-prev" href="#carouselCategories" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselCategories" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-10"></div>
                <div class="col-2 text-right">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>